
  body{
    background-image: url("../src/assets/sitebg.jpg");
  }
  @keyframes blob {
    0%,
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }
  ::-webkit-scrollbar {
    width: 8px;
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: teal;
  }
  @media (min-width: 1280px) {
    .blob {
      width: 340px;
      height: 340px;
    }
  }